body, html {
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.hero {
    padding: 100px 40px 30px;
}

.home {
    font-family: Open Sans,Inter,Roboto,Oxygen,Fira 
}

div {
    display: block;
}

.inner {
    max-width: 1260px;
    margin: 0 auto;
}

.hero .left, .hero .right {
    display: inline-block;
    vertical-align: top;
}

.hero .hero-logo {
    width: 215px;
    height: 215px;
    float: right;
    margin-right: 60px;
}

img {
    border: none;
}

.hero .right {
    width: 61%;
}

.hero h2 {
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 2.4em;
    margin: 0 0 10px;
    display: none;
}

h1, h2, h3, h4, strong {
    font-weight: 600;
    color: #273849;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hero h1 {
    font-weight: 300;
    margin: 0;
    font-size: 3.2em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hero .button:not(:last-child) {
    margin-right: 1%;
}

p {
    word-spacing: 0.05em;
}

a.button.has-icon>svg, input.button.has-icon>svg {
    position: absolute;
    left: 0.4em;
    top: 0.4em;
    width: 2em;
}

svg {
    fill: rgb(255, 255, 255);
}

svg:not(:root) {
    overflow: hidden;
}

.hero .button {
    margin: 1em 0;
    font-size: 1.05em;
    font-weight: 600;
    letter-spacing: 0.1em;
    min-width: 8em;
    text-align: center;
}

a.button.has-icon, input.button.has-icon {
    position: relative;
    text-indent: 1.4em;
}



a.button.gray, input.button.gray {
    background-color: #f6f6f6;
    color: #4f5959;
    border-color: #f6f6f6;
}

.hero .left {
    width: 39%;
}
.hero .left, .hero .right {
    display: inline-block;
    vertical-align: top;
}

a.button, input.button {
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
}

a {
    text-decoration: none;
    color: #304455;
}

a.button.white, input.button.white {
    background-color: rgba(255, 255, 255, 0);
    color: #4fc08d;
}

.navbar {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: 3.6rem;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
    padding: .7rem 1.5rem;
    line-height: 2.2rem;
}
.navbar .logo {
    min-height: 2.2rem;
    min-width: 2.2rem;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: .5rem;
    vertical-align: top;
}
.navbar > h1 {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    font-family: Inter,Roboto,Oxygen,Fira Sans,Helvetica Neue,sans-serif;
}
.navbar a, .navbar img {
    display: inline-block;
}
a, p a code {
    color: #3eaf7c;
}
a {
    font-weight: 500;
    text-decoration: none;
}
body {
    font-family: Inter,Roboto,Oxygen,Fira Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;
}
:root {
    --docsearch-primary-color: #5468ff;
    --docsearch-text-color: #1c1e21;
    --docsearch-spacing: 12px;
    --docsearch-icon-stroke-width: 1.4;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-muted-color: #969faf;
    --docsearch-container-background: rgba(101,108,133,0.8);
    --docsearch-logo-color: #5468ff;
    --docsearch-modal-width: 560px;
    --docsearch-modal-height: 600px;
    --docsearch-modal-background: #f5f6f7;
    --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0,0%,100%,0.5),0 3px 8px 0 #555a64;
    --docsearch-searchbox-height: 56px;
    --docsearch-searchbox-background: #ebedf0;
    --docsearch-searchbox-focus-background: #fff;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-hit-height: 56px;
    --docsearch-hit-color: #444950;
    --docsearch-hit-active-color: #fff;
    --docsearch-hit-background: #fff;
    --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
    --docsearch-key-gradient: linear-gradient(-225deg,#d5dbe4,#f8f8f8);
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,0.4);
    --docsearch-footer-height: 44px;
    --docsearch-footer-background: #fff;
    --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8,0 -3px 6px 0 rgba(69,98,155,0.12);
}
@media screen and (max-width: 900px) {
    .hero h1 {
        font-size: 2em;
    }
    .hero .left, .hero .right {
        text-align: center;
        width: 100%;
    }
    body {
        -webkit-text-size-adjust: none;
        font-size: 14px;
    }
    .hero .button {
        font-size: 0.9em;
    }
    .hero .hero-logo {
        float: none;
        margin: 30px 0 15px;
        width: 140px;
        height: 140px;
    }
}